.sidebar {
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.16);
}
.sidebar-top {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.navbar-name {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
}
.navbar-icon {
  font-size: 18px !important;
}
